<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Hygiene Tracker</title>
</head>
<body>
    <h1>Hygiene Tracker</h1>

    <h2>Clothing:</h2>
    <h3>Add clothing:</h3>
    <form action="/addClothing" method="POST">
        <div>
            <label for="name">Clothing Brand:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="type">Clothing Type:</label>
            <input type="text" id="type" name="type" required>
        </div>
        <div>
            <label for="size">Clothing Size:</label>
            <input type="text" id="size" name="size" required>
        </div>
        <div>
            <label for="clean">Is the clothing clean?</label>
            <input type="checkbox" id="clean" name="clean" value="true">
        </div>
        <div>
            <button type="submit">Add Clothing</button>
        </div>
    </form>
    <h3>Delete Clothing</h3>
    <form action="/deleteClothing" method="POST">
        <label for="clothingSelect">Select Clothing Item to Delete:</label>
        <select id="clothingSelect" name="clothingId">
            <% clothingRecords.forEach(function(item) { %>
                <option value="<%= item._id %>"><%= item.name %></option>
            <% }); %>
        </select>
        <button type="submit">Delete</button>
    </form>

    <h2>Clothing records:</h2>
    <table id="clothingTable">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Type</th>
                <th>Size</th>
                <th>Clean?</th>
            </tr>
        </thead>
        <tbody>
            <% clothingRecords.forEach(record => { %>
                <tr>
                    <td><%= record.brand %></td>
                    <td><%= record.type %></td>
                    <td><%= record.size %></td>
                    <td><%= record.clean%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

<!-- add clothing: 
 form (unique name / id, type)
 submit button 
 
 (table to view clothing name, type, and whether its clean or not.)
 -->